.header {
    height: 100px;
    width: 100%;
    display: flex;
}

.header > .banner {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.react-datepicker-wrapper,
.react-datepicker__input-container {
    width: 100%;
}

.general-number {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.general-number > .number {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    height: 64px;
    width: 64px;
    background-color: grey;
    color: white;
    line-height: 64px;
    border-radius: 32px;
    box-shadow: 0 2px 0 rgb(90 97 105 / 11%), 0 4px 8px rgb(90 97 105 / 12%),
        0 10px 10px rgb(90 97 105 / 6%), 0 7px 70px rgb(90 97 105 / 10%);
    margin-bottom: 10px;
}

.general-number > .description {
    font-size: 16px;
}

.giant-number {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    height: 64px;
    width: 64px;
    background-color: grey;
    color: white;
    line-height: 64px;
    border-radius: 32px;
    box-shadow: 0 2px 0 rgb(90 97 105 / 11%), 0 4px 8px rgb(90 97 105 / 12%),
        0 10px 10px rgb(90 97 105 / 6%), 0 7px 70px rgb(90 97 105 / 10%);
    margin-bottom: 10px;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 50px solid #555;
}
